
* {
    box-sizing: border-box;
}

body{
    background-color: #D8B384;
}

/* header */

header{
    background-color: #CEE5D0;
    position: relative;
    top: 0%;
    width: 100%;
    padding: 8px;

    

}

header h1 {
    color: #D8B384;
    font-weight: bold;
    font-size: 40px;
    float: left;
    margin-left: 10px;
    
    

}
header nav ul li {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;

}
header nav ul li:hover{
    background-color: #F3F0D7;
}

header nav ul li a {
    text-decoration: none;
    color: #5E454B ;
    font-size: 30px;
    float: right;

}

header nav ul {
    margin-left: 150px;
}

/* footer */

footer p {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: #CEE5D0;
    color: #dbac6f;
    padding: 15px;
    font-weight: bold;
}

body {
    margin-bottom: 2600px;
}


/* Table */

#creatTable table {
    margin-left: 10px;
    
    margin-top: 45px;
    
    

}
#creatTable table tr { 
    
    padding: 10px;
}

#creatTable table tr td { 
    border: solid black 1px;
    margin: 20px;
    padding: 25px;
}

#creatTable table tr th { 
    
    padding: 7px;
    

    
}

#creatTable table tr th:last-of-type {
    border: solid black 1px;
}


#salesMain  { 
    margin-top: 100px;
    color: #5E454B;
    margin-right: 750px;
    font-size: 30px;
    margin-bottom: 100px;
    background-color: #D8B384;
}

/* home css */


header img {
    float: left;
    width: 150px;
    height: 50px;
}


#homeMain{
    position: relative;
    background-color: #D8B384;
}

main h2 {
    
    font-size: 45px;
    position: absolute;
    top: 60px;
    left: 35%;
    background-color: #dabf9d;
    

    
}

#welcomImg {

    background-color: #F3F0D7;
    position: absolute;
    top: 110px;
    left: 25%;
    
}



#family{
    position: absolute;
    font-size: 35px;
    top: 400px;
    left: 20%;
    
    background-color: #dabf9d;
    
    
}

.family{ 
    position: absolute;
    top: 450px;
    width: 100%;
    height: 500px;
    
}


#proud{

    position: absolute;
    top: 1000px;
    background-color: #cec6af;
    width: 100%;   
  
} 
   
#proud h3 {
    font-size: 25px;
    margin-left: 40%;
}
#proud p {
    font-size: 20px;
    text-align: center;
    background-color: cadetblue;

}
#proud img {
    padding: 25px;
    margin-left: 16%;
}

.MENU {
    position: absolute;
    top: 1500px;
    left: 600px;
   
}
.MENU h3 {
    font-size: 20px;
}

.MENU img {
padding: 25px;
width: 40%;
}

#menuimg {
    position: absolute;
    top: 1440px;
    
    width: 100%;
    height: 750px;
}
   
.LOCATIONS {
   
   position: absolute;
    top: 2270px;
    font-size: 28px;
    color: #ceca07;;
    left: 15px;
    
}

#locationimg {
    position: absolute;
    top: 2200px;
    width: 700px;
    height: 300px;
}
  
.HOURS { 
   background-color:#7c7c7c ;
   position: absolute;
    top: 2200px;
    left: 55%;
    font-size: 35px;
    

} 

/* 





#welcome {
    position: relative;
    text-align: center;
    left: 25%;
    color: rgb(148, 108, 56);
    top: 6%;
}








#family{
    float: left;
    width: 1100x;
    margin: 50px;
    margin-left: 20;
    color: rgb(148, 108, 56);
    
    
}

.family{ 
    margin-left: 70px;
}

 #proud{
     background-color: #CEE5D0;
    float: left;
    width: 800px;
    margin: 100px;
   
} 
    

.MENU {
    margin-left: 1300px;
    background-color:#CEE5D0 ;
}
    
.LOCATIONS {
    background-color:#CEE5D0 ;
    margin-left: 400px;
    margin-right: 100px;
}
   
.HOURS { 
    background-color:#CEE5D0 ;
    margin-left: 600px;
    margin-right: 200px;

} */
=======
}

fieldset { 
    border:solid 5px #5E454B ;
    margin-left: 50%;
    width: 50%;
    background-color: #CEE5D0 ;
    margin-top: 30px
}

#formLegand {
    background-color: #bac578 ;
    margin-left: 50px;
    ;
}

#submit {
    font-size: 35px;
    margin: 25px;
    float: right;
    color: #000000;
    background-color:#bac578 ;
}

#submit:hover{
    color: #bac578;
    background-color:black ;
}

.formElements{
    margin: 15px;
    
}

